<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="CSS/index.css" />
  </head>
  <body>
    <main class="main-page">
      <h1>Bienvenido a la Aplicación de Registro de Retrospectivas</h1>
      <p>
        Desde aquí se puede gestionar el registro, actualización y eliminación
        de sprints y retrospectivas
      </p>

      <div class="menu-cards">
        <a class="menu-card" href="sprints.php">
          <h2>Administrar Sprints</h2>
          <p>Crea, edita, elimina y busca sprints para tu equipo.</p>
        </a>
        <a class="menu-card" href="retro_items.php">
          <h2>Administrar Retrospectivas</h2>
          <p>
            Registrar, editar y eliminar retrospectivas vinculadas a sprints y
            controlar su estado.
          </p>
         
        </a>
         
      </div>
            <?php
echo 'Hola mundo';
?>
    </main>
  </body>
</html>
